<%- include ./../partials/header.ejs %>

<style>
    img {
        height: 50px;
        width: 50px;
    }
</style>

<div style='margin-top: 2%' class='container'>
    <h1>Citizen Dashboard</h1>
    <br>
    <%- include ./../partials/alert.ejs %>
    <br>
    <br>
</div>