<%- include ./../partials/header.ejs %>

<!-- Custom CSS -->
<link href="css/style.css" rel="stylesheet">

<!-- Header -->
<header class="masthead d-flex">
    <div class="container text-center my-auto">
        <h1 class="mb-1">City Without Crime</h1>
        <div class="row">
            <div class="col-md-4">
                <img src="index2.jpg" class="img img-responsive" style="width: 100%">
            </div>
            <div class="col-md-8" style="text-align: justify;">
                This portal is a platform for Citizens to file crime related complaints online.
                The portal would also provide access to authorized persons to use National Database of crime records for
                the purpose of investigation, policy making, data analytics, research and providing citizen services.
                The portal consolidates data of current and past Crime occurrences across the country. This data has
                information pertaining to persons accused or convicted in criminal cases along with associated
                information such as property stolen/recovered, missing persons, recovered/unidentified dead bodies and
                so on. This information would help expedite Police investigations to solve crime as well as to provide
                antecedent verification services to citizens.
                To protect privacy of individuals concerned and for National security reasons the Crime and Criminal
                data and reports can be searched by authorized Police officers only. Citizens who seek criminal
                antecedent verification services will be provided responses through email.
            </div>
        </div>
        <br />
        <a class="btn btn-info btn-xl js-scroll-trigger" href="/citizen/login">Get Started</a>
    </div>
</header>

</body>

</html>