<%- include ./../partials/header.ejs %>

<div class="container">
    <h2>
        <p><ins>Victim Details</ins></p>
    </h2>
    <form>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationServer01">First name</label>
                <input type="text" class="form-control" id="validationServer01" placeholder="First name" required>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationServer02">Last name</label>
                <input type="text" class="form-control" id="validationServer02" placeholder="Last name" required>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationServerUsername">Father's Name</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                    </div>
                    <input type="text" class="form-control" id="validationServerUsername" placeholder="father name"
                        aria-describedby="inputGroupPrepend3" required>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label class="mr-sm-2" for="inlineFormCustomSelect">Gender</label>
                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                    <option selected>Select</option>
                    <option value="1">Male</option>
                    <option value="2">Female</option>
                    <option value="3">Other</option>
                </select>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationServer02">Email Id</label>
                <input type="text" class="form-control" id="validationServer02" placeholder="Email" required>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationServerUsername">Mobile Number</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                    </div>
                    <input type="Number" class="form-control" id="validationServerUsername" placeholder="Mobile number"
                        aria-describedby="inputGroupPrepend3" required>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationServer01">Age</label>
                <input type="Number" class="form-control" id="validationServer01" placeholder="" required>
            </div>
            <div class="col-md-4 mb-3">
                <label class="mr-sm-2" for="inlineFormCustomSelect">ID Type</label>
                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                    <option selected>Select</option>
                    <option value="1">Aadhaar Card</option>
                    <option value="2">Voter Id</option>
                    <option value="3">Passport</option>
                    <option value="3">Pan Card</option>
                    <option value="3">Driving Licence</option>
                </select>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationServerUsername">ID Number</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                    </div>
                    <input type="Number" class="form-control" id="validationServerUsername" placeholder="Valid number"
                        aria-describedby="inputGroupPrepend3" required>
                </div>
            </div>
        </div>

        <h2>
            <p><ins>Adress of the Victim.</ins></p>
        </h2>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label class="mr-sm-2" for="inlineFormCustomSelect">State</label>
                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                    <option selected>Select</option>
                    <option value="1">UP</option>
                    <option value="2">Jharkhand</option>
                    <option value="3">Bihar</option>
                    <option value="3">MP</option>
                    <option value="3">WB</option>
                </select>
            </div>
            <div class="col-md-4 mb-3">
                <label class="mr-sm-2" for="inlineFormCustomSelect">District</label>
                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                    <option selected>Select</option>
                    <option value="1">Ranchi</option>
                    <option value="2">Patna</option>
                    <option value="3">Malda</option>
                    <option value="3">Kolkata</option>
                    <option value="3">Lucknow</option>
                </select>
            </div>
            <div class="col-md-4 mb-3">
                <label class="mr-sm-2" for="inlineFormCustomSelect">Police Station</label>
                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                    <option selected>Select</option>
                    <option value="1">habibpur p.s</option>
                    <option value="2">badshanagar p.s</option>
                    <option value="3">Ranchi p.s</option>
                    <option value="3">Patna p.s</option>
                    <option value="3">kolkata ps</option>
                </select>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationServer01">Village/City</label>
                <input type="text" class="form-control" id="validationServer01" placeholder="Village/City" required>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationServer02">Land Mark</label>
                <input type="text" class="form-control" id="validationServer02" placeholder="Local area" required>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationServerUsername">Street name</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                    </div>
                    <input type="Number" class="form-control" id="validationServerUsername" placeholder="Street name"
                        aria-describedby="inputGroupPrepend3" required>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3" required>
                <label class="form-check-label">
                    Agree to terms and conditions
                </label>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit form</button>
    </form>
</div>

<div id="section3" class="container">
    <div id="pnlrep1">
        <h2>
            <p><ins>Incident Details</ins></p>
        </h2>
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="">Nature of Complaint <span style="color:Red;">*</span></label>
                <select class="form-control">
                    <option selected="selected" value="0">--Select--</option>
                    <option value="1">Against Private Person</option>
                    <option value="2">Against Organisation/Department</option>
                    <option value="3">Against Public Servant (Civil)</option>
                </select>
                <span id="RequiredFieldValidator1" style="color:Red;display:none;"></span>
            </div>
            <div class="form-group col-sm-6">
                <label for="">State <span style="color:Red;">*</span></label>
                <select name="ddlstatef" id="ddlstatef" class="form-control">
                    <option selected="selected" value="0">--Select--</option>
                    <option value="1">ANDAMAN AND NICOBAR</option>
                    <option value="2">ANDHRA PRADESH</option>
                    <option value="3">ARUNACHAL PRADESH</option>
                    <option value="4">ASSAM</option>
                    <option value="5">BIHAR</option>
                    <option value="6">CHANDIGARH</option>
                    <option value="33">CHHATTISGARH</option>
                    <option value="9">DADRA AND NAGAR HAVELI</option>
                    <option value="7">DAMAN AND DIU</option>
                    <option value="8">DELHI</option>
                    <option value="10">GOA</option>
                    <option value="11">GUJARAT</option>
                    <option value="13">HARYANA</option>
                    <option value="12">HIMACHAL PRADESH</option>
                    <option value="14">JAMMU AND KASHMIR</option>
                    <option value="34">JHARKHAND</option>
                    <option value="16">KARNATAKA</option>
                    <option value="15">KERALA</option>
                    <option value="17">LAKSHADWEEP</option>
                    <option value="21">MADHYA PRADESH</option>
                    <option value="19">MAHARASHTRA</option>
                    <option value="20">MANIPUR</option>
                    <option value="18">MEGHALAYA</option>
                    <option value="22">MIZORAM</option>
                    <option value="23">NAGALAND</option>
                    <option value="24">ODISHA</option>
                    <option value="26">PUDUCHERRY</option>
                    <option value="25">PUNJAB</option>
                    <option value="27">RAJASTHAN</option>
                    <option value="28">SIKKIM</option>
                    <option value="29">TAMIL NADU</option>
                    <option value="37">TELANGANA</option>
                    <option value="30">TRIPURA</option>
                    <option value="31">UTTAR PRADESH</option>
                    <option value="35">UTTARAKHAND</option>
                    <option value="32">WEST BENGAL</option>
                </select>
                <span id="RequiredFieldValidator2" style="color:Red;display:none;"></span>
            </div>
            <div class="form-group col-sm-6">
                <label for="">District</label>
                <select name="ddldistrictf" id="ddldistrictf" class="form-control">
                    <option selected="selected" value="0">--Select--</option>

                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="">Police Station</label>
                <select name="ddlpstf" id="ddlpstf" class="form-control">
                    <option selected="selected" value="0">--Select--</option>

                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="">Incident place <span style="color:Red;">*</span></label>
                <input type="text" class="form-control" />
                <span id="RequiredFieldValidator3" style="color:Red;display:none;"></span>
            </div>
            <div class="form-group col-sm-6">
                <label for="">Pin Code</label>
                <input name="txtincpincode" type="text" maxlength="6" class="form-control inpt">
            </div>
            <div class="form-group col-sm-6">
                <label for="">Incident Address <span style="color:Red;">*</span></label>
                <textarea name="txtincaddress" rows="4" cols="10" id="txtincaddress" class="form-control"></textarea>
                <span id="RequiredFieldValidator4" style="color:Red;display:none;"></span>
            </div>

            <div class="form-group col-sm-6">
                <label for="">Incident Description <span style="color:Red;">*</span></label>
                <textarea name="txtincdesc" rows="4" cols="10" id="txtincdesc" class="form-control"></textarea>
                <span id="RequiredFieldValidator5" style="color:Red;display:none;"></span>
            </div>
            <div class="clearfix"></div>
            <div class="form-group col-sm-6">
                <button class="btn btn-success">Save Incident Details</button>
            </div>
        </div>
    </div>
    <div id="pnlrep2">
        <h2>
            <p><ins>Evidence Details</ins></p>
        </h2>
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="">Description of Evidence</label>
                <textarea name="txtevdesc" rows="4" cols="10" id="txtevdesc" class="form-control"></textarea>
            </div>
            <div class="form-group col-sm-6">
                <label for="">Details of Evidence</label>
                <textarea rows="4" cols="10" class="form-control"></textarea>
            </div>
            <div class="form-group col-sm-12">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
            </div>
            <br>
            <div class="form-group col-sm-6">
                <button class="btn btn-primary" name="btncrimrepsubmit" id="btncrimrepsubmit">Submit Report</button>
            </div>
        </div>
    </div>
</div>
</body>

</html>